$contentcolor: green;
$accentcolor: blue;

body {
  font: 12pt 'Helvetica Neue', sans-serif;
}
.container {
  width: 100%;
  margin: 0 auto;
  // background-color: lightgray;
}
.hamburger {
  position: fixed;
  top: 0px;
  left: 20px;
  color: black;
  font-size: 90pt;
}
header {
  padding: 60px 0;
  text-align: center;
  color: #FFF;
  background: url("https://cdn3.vox-cdn.com/uploads/chorus_asset/file/3342272/andromeda_big.0.jpg") no-repeat 0 0;
  background-attachment: fixed;
  background-size: cover;
  h1 {
    font-size: 120pt;
    font-weight: 200;
    margin: 0;
  }
  h2 {
    font-size: 30pt;
    font-weight: 100;
    margin: 0 0 60px 0;
  }
  p {
    // color: darkgrey;
  }
}
nav {
  width: 100%;
  margin: 0 auto;
  padding: 0 10%;
  background-color: dimgray;
  display: flex;
  ul {
    display: flex;
    align-items: stretch;
    vertical-align: middle;
    margin: 0 10px 0 0;
    padding: 0;
    list-style-type: none;
  }
  li {
    display: inline-block;
    color: white;
    background-color: dimgray;
    padding: 0 15px;
    height: 50px;
    line-height: 50px;
    margin-right: 0;
    -webkit-transition: background-color 0.6s ease-out;
    transition: background-color 0.6s ease-out;
  }
  li:hover {
    background-color: lightgray;
    // border-bottom: 5px solid lightgray;
  }
  input[type=text] {
    position: relative;
    top: 10px;
    height: 30px;
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    border-radius: 10px;
    padding: 5px;
  }
  input[type=text]:focus {
    width: 40%;
  }
}
/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + main {
  padding-top: 70px;
}
main {
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
  background-color: white;
  // border-left: 1px solid dimgray;
  // border-right: 1px solid dimgray;
  img {
    max-width: 45%;
    height: auto;
    max-height: 300px;
  }
  div {

    padding: 0 10px;
    width: 300px;
    min-height: 200px;
  }
}
